.zoom-text-section {
  position: relative;
  margin-top: 1rem;
  height: 250vh;
  text-align: center;
}

.zoom-text-text-container {
  position: sticky;
  top: 0px;
  height: 95vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.zoom-text-square {
  position: absolute;
  transform-origin: center;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  border: 10px solid var(--primary-green);
  mix-blend-mode: difference;
}

.solid-text {
  z-index: 4;
}

.solid-text,
.outlined-text {
  white-space: nowrap;
  font-size: 5.3rem;
  position: absolute;
  color: var(--primary-dark);
}

.outlined-text {
  z-index: 2;
  -webkit-text-stroke: 0.8px var(--primary-dark);
  color: transparent;
  /* -webkit-mask-image: linear-gradient(to right, transparent 20%, white 20%);
  mask-image: linear-gradient(to right, transparent 20%, white 20%); */
}
